.section-title{
    color: $primary;
    @include quicksand(700);
}


.episod{
    border: 1px dashed $primary;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 25px;

    display: flex;
    align-items: center;


    cursor: pointer;

    background: #FFF;
    &:hover{
        transform: background-color 0.5s ease;
        background-color: #f1f1f1;
    }



    .play-icon{
        i{
            font-size: 45px;
        }
        color: $primary;
    }

    .episod-info{
        padding-left: 15px;
        .episod-no{
            margin-bottom: 5px;
            color: #444;
        }
    
        .episod-name{
            font-size: 19px;
            color: $primary;
            @include quicksand(400);
        }

        .length{
            margin-bottom: 0;
            font-size: 14px;
        }
    }
}