@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@font-face {
    font-family: 'bgFont';
    src: url('../fonts/daggersquare_oblique-webfont.woff2') format('woff2'),
         url('../fonts/daggersquare_oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bgFont-soja';
    src: url('../fonts/daggersquare-webfont.woff2') format('woff2'),
         url('../fonts/daggersquare-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}