body , html {
	height: 100%;
}

body{
    background-image: url(../images/pattern.svg);
    background-repeat: repeat;
}

$primary: #775273;


@mixin quicksand($fontWeight: 400) {
    font-family: 'Quicksand', sans-serif;
    font-weight: $fontWeight;

}
@import "fonts";
@import "hero";
@import "episods";
@import "player";
@import "loader";